/* Reset */
html,body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
	font: inherit;
	overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

header{
	font-weight: bolder;
	font-size: 3rem;
	position: absolute;
	left: 10px;
}

main{
	height: 100%;
	display: grid;
	grid-template: 100px 1fr 100px/1fr 1fr;
	place-items: center;
}

#instruction{
	grid-column: 1/-1;
}

.container{
	text-align: center;
}
.board{
	border: solid 1px rgb(123, 197, 242);
	display: grid;
	grid-template: repeat(10,1fr)/repeat(10,1fr);
}
.cell{
	width: 50px;
	aspect-ratio: 1/1;
	background-color: rgb(157, 218, 255);
	border: solid 1px rgb(123, 197, 242);
}
.cell.ship{
	background-color: rgb(200, 99, 99);
	border: none;
}
.cell.shot{
	background-color: rgb(118, 93, 93);
}
.cell.missed{
	filter: brightness(70%);
}

#controls{
	grid-column: 1/-1;
}
#controls>button{
	border: none;
	border-radius: 10px;
	background-color: rgb(200, 99, 99);
	width: 8rem;
	font-weight: bold;
	color: white;
}